/* Main Error Style
---------------------- */
.fof-errors {
	/*margin-top: 11%;*/
	font-family: helvetica;
  	width: 100%;
  	text-align: center;
  	padding-top: 7%;
  	padding-bottom: 10%;
  	color: #696969;
  	background: #c3e3f4;
}

/* Error Code
------------------------ */
.fof-error-code span {
	font-size: 100px;
	color: #fff;
	padding: 50px 85px;
	border-radius: 50%;
	position: relative;
	display: inline-block;
	font-weight: bold;
	font-family:  "Roboto";
}

.first {
	background: #3498db;
	left: 60px;
	animation: fisrt 0.9s linear;
}

@keyframes fisrt {
	0% {left: 226px; opacity: 0;}
	100% {left: 60px; opacity: 1;}
}

.first + span {
	background: #fff;
	color: #333;
	animation: center 1.2s;
}

@keyframes center {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.last {
	background: #7BC673;
	right: 60px;
	animation: last 0.9s linear;
}

@keyframes last {
	0% {right: 226px;}
	100% {right: 60px;}
}

/* Error Message
--------------------- */
.fof-error-message {
	margin-top: 30px;
}

.fof-error-message h2 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 35px;
	color: red;
	text-transform: uppercase;
}

#errorboxbody p {
	margin-bottom: 70px;
	margin-top: 0;
}

#errorboxbody .button-home {
	text-decoration: none;
	padding: 13px 70px;
	color: #fff;
	background: #7BC673;
	border-radius: 20px;
	font-weight: bold;
}

#errorboxbody .button-home:hover {
	background: #56A14E;
	transition: 500ms;
}

/* Screen control mobile/tablet
---------------------------- */
/*@media screen and (max-width: 767px) {
	.fof-error-code span {
		padding: 0;
		position: static;
		background: transparent;
		font-size: 150px;
	}

	.fof-error-code span.first {
		color: #3498db;
		animation: fisrt 0s;
	}

	.fof-error-code span.first + span {
		animation: center 0s;
	}

	.fof-error-code span.last {
		color: #7BC673;
	}

	.fof-error-message {
		margin-top: 10px;
	}
}*/